<h1>Profile page</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
</br>


</br>
<%= current_user.id %><%= current_user.email %>
</br>
<%= @user.admin? %>
</br>
<%= @user.id %>
</br>

<%= @user.email %>
</br>

<%= @user.name %>
</br>



</br>
<%= button_to "Delete Account", delete_user_path(@user),method: :delete,
             data: { confirm: "Are you sure?"}, class:"btn btn-danger btn-sm" %>
             
<script>
    document.addEventListener("click", event => {
        const element = event.target.closest("[data-confirm]")

        if (element && !confirm(element.dataset.confirm)) {
            event.preventDefault()
        }
    })
</script>