<nav class="navbar navbar-expand-lg bg-success-subtle">
  <div class="container-fluid">
    <%= link_to 'App Amt', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Users', index_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', '#', class:"nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Profile
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
               <%= link_to 'My Profile', user_profile_path(current_user.id), class:"nav-link", class:"dropdown-item" %>
              </li>
              <li class="nav-item">
               <%= link_to 'Edit Profile', edit_user_registration_path, class:"nav-link", class:"dropdown-item" %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li class="nav-item">
               <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class:"nav-link", class:"dropdown-item" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Log in', new_user_session_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link" %>
          </li>
        <% end %>
      </ul>
   
    <%= form_tag index_path, method: :get do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search by Name", class: "search-bar " %>
        <%= submit_tag "Search", class: "search-button btn btn-outline-success"  %>
    <% end %>

    </div>
  </div>
</nav>

